{
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "packages/frontend/src/index.css",
  "tailwindFunctions": ["cn", "cva"]
}
